body {
    background-color: #191919;
    color: #fff;
  }
  
  header {
    background-color: #191919;
  }

  
  
  
  
  img {
    width: 200px;
    height: 150px;
  }
  
  .movies, .tv-shows {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .movies img, .tv-shows img {
    margin: 10px;
  }
  
  footer {
    text-align: center;
  }
  